

a{
    text-decoration: none;
}

.blue-flowers{
    background-image: url("/images/blue-floral.png");
}

html {
  font-size: 10px;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.hero-button:hover{
    background-color: #F1ABA9;
}
.hero-button{
    background-color: #D78682;
    border-radius: 1.5rem;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    
}
.logo-nav {
  display: flex;
  justify-content: space-between;
  margin-right: 3rem;
}

nav ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
width: 1440px;
  height: 60px;
}

.pink-right-big{
     position: relative;
  top: 90;
  left: 60%;
}
.hero-text{
    position: relative;
}

ul {
  list-style-type: none;
}


/*JS MODAL*/
*,
*::after,
*::before {
  box-sizing: border-box;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index: 10;
  background-color: white;

}


.modal.active {
  transform: translate(-50%, -50%) scale(1);
}


.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 1000px 1048px;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/images/modal-group.png");
  background-position: center center;
  background-repeat: no-repeat;
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
