
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Poller+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Poller+One&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url("reset.css");

a{
    text-decoration: none;
    color: #000000;
}

.blue-flowers{
    background-image: url("/images/blue-floral.png");
    z-index: 50;
    background-repeat: no-repeat;
}

html {
  font-size: 10px;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FCF9F2;
}

h1{
  font-family: "Londrina Solid", sans-serif;
  font-weight: 900;
  font-style: normal;
  line-height: 9.6rem;
  font-size: 9.6rem;
}
h2{
    font-family: "Londrina Solid", sans-serif;
  font-weight: 900;
  font-style: normal;
  line-height: 10.56rem;
  font-size: 14.4rem;
  color: #034362;
}
h3{
      font-family: "Londrina Solid", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 6.4rem;
  font-size: 6.4rem;
  color: #034362;
margin-top: -10rem;
}

.hero{
  display: flex;
  margin: -10rem;
}
.hero-button:hover{
    background-color: #F1ABA9;
}
.hero-button{
    background-color: #D78682;
    border-radius: 1.5rem;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;  
}
.hero-image{
  margin-top: -40rem;
  margin-right: -30rem;
  z-index: 10;
}
.hero-text{
    position: relative;
    padding: 14.8rem;
}

p{
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight:500;
  line-height: 4rem;
  font-size: 3.6rem;
}
.right{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.logo-nav {
  display: flex;
  justify-content: space-between;
  margin-right: 3rem;
}

nav ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
width: 1440px;
  height: 60px;
}
nav li{
    font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight:500;
  line-height: 1.76rem;
  font-size: 1.6rem;
  text-decoration: none;
  color: #000000;
}

/*Top left flower animation */

.flower-container{
  position: relative;
  width: 132px;
  height: 94px;
  margin: 50px auto;
}
.petal{
  position: absolute;
  width: 74px;
  height: 74px;
  border-radius: 50% 50% 0 0;
  transform-origin: bottom center;
}

.petal-1{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);

}
.petal-2{
  top: 50%;
  left: 50%;
  margin-top: -300rem;
  transform: translate(-50%, -50%) rotate(60deg);
}

.petal-3{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

.petal-3{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(120deg);
}

.petal-4{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(150deg);
}
.petal-5{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
}

@keyframes bloom {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(0);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1.1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
    opacity: 1;
  }
}

.petal {
  animation: bloom 2s ease-out forwards;
}

.petal-1 {
  animation-delay: 0s;
}
.petal-2 {
  animation-delay: 0.2s;
}
.petal-3 {
  animation-delay: 0.4s;
}
.petal-4 {
  animation-delay: 0.6s;
}
.petal-5 {
  animation-delay: 0.8s;
}



/*bottom flower spin*/
.pink-bottom{
  margin-left: 70rem;
  padding-top: 10rem;
}

.pink-bottom:hover{
  transform: rotate(60deg);
  transition: transform 2s ease-in-out;
}

/*pink-right-big*/

.pink-right-big{
     position: relative;
  top: 90;
  left: 60%;
}

@keyframes pulse-pink {
  0% {
    transform: scale(1); 
  }
  40% {
    transform: scale(1.2); 
  }
  80%{
    transform: scale(1);
  }
  100% {
    transform: scale(1); 
  }
}
.pink-right-big {

  animation: pulse-pink 2s infinite;
}


ul {
  list-style-type: none;
}


/*JS MODAL*/
*,
*::after,
*::before {
  box-sizing: border-box;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index: 10;
   background-image: url("/images/modal-group.png");
    padding: 1000px 1048px;
  background-position: center center;
  background-repeat: no-repeat;

}


.modal.active {
  transform: translate(-50%, -50%) scale(1);
}




.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #fff;        
  color: #0a3a4a;               
  font-size: 1.25rem;
  font-weight: bold;
  width: 35px;                  
  height: 35px;
  border-radius: 50%;            
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;            
  top: 15px;
  right: 15px; 
  transition: background-color 0.2s ease;
}

.modal-body {
 width: 450px;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 background-color: rgba(255, 255, 255, 0.722);
  pointer-events: none;
  
}

#overlay.active {
  opacity: .5;
  pointer-events: all;
}
